html {
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  line-height: 1.3;
}
h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  line-height: 1.3;
}
h1 {
  font-size: 27px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 23px;
}
@media only screen and (min-width: 600px) {
.text {
  max-width: 75vw;
}
@media only screen and (min-width: 900px) {
.text {
  max-width: 50vw;
}
section {
  height: 75vw;
}
.index {
  background-image: url("sunflower.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  color: #ffffff;
}
ul {
  list-style-type: none;
  padding: 1em;
  width: 100%;
}
html * {
    box-sizing: border-box;
}
.nav1 ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    background-color: rgb(199,180,90);
}
body {
    margin: 0;
}
